.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3vh;
    width: 70vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.392);
    border-radius: 5px;
    border: solid black 1px;
    box-shadow: 10px 10px 10px;
}
.title{
    color: white;
    text-decoration: underline;
}